@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset para evitar bordes blancos */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

@keyframes gridMove {
  0% { transform: translateY(0); }
  100% { transform: translateY(40px); }
}

.animate-gridMove {
  animation: gridMove 8s linear infinite;
}